.cart {
    position: absolute;
    width: 385px;
    background-color: var(--light-color);
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    right: 0;
    top: 0;
    bottom: 0;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-direction: column;

    @media (max-width: (545px)) {
        width: 300px;
    }

    &-headline {
        display: flex;
        justify-content: space-between;
    }

    &-btn {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid var(--gray-color);
        position: relative;

        &::before {
            content: '';
            width: 13px;
            height: 2px;
            position: absolute;
            background-color: var(--gray-color);
            transform: rotate(45deg);
            top: calc(50% - 1px);
            right: calc(50% - 6px);
            border-radius: 50px;
        }

        &::after {
            content: '';
            width: 13px;
            height: 2px;
            position: absolute;
            background-color: var(--gray-color);
            transform: rotate(-45deg);
            top: calc(50% - 1px);
            right: calc(50% - 6px);
            border-radius: 50px;
        }
    }

    &-shadow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    &-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: var(--black-color);
        user-select: none;
    }

    &-main {
        margin-top: 30px;
        margin-bottom: 30px;
        flex: 1;
        overflow: auto;

        &-item {
            max-width: 325px;
            max-height: 120px;
            padding: 25px 20px;
            border: 1px solid var(--light-gray-color);
            border-radius: 20px;

            &:not(:first-child) {
                margin-top: 20px;
            }

            @media (max-width: (545px)) {
                padding: 15px 5px;
            }
        }

        &-card {
            display: flex;
            align-items: center;

            &__main {
                max-width: 150px;
                margin-left: 20px;
                margin-right: 12px;
            }

            &__name {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: var(--black-color);
            }

            &__price {
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: var(--black-color);
                margin-top: 8px;
            }

            &__btn {
                width: 32px;
                height: 32px;
                border-radius: 8px;
                border: 1px solid var(--gray-color);
                position: relative;

                &::before {
                    content: '';
                    width: 13px;
                    height: 2px;
                    position: absolute;
                    background-color: var(--gray-color);
                    transform: rotate(45deg);
                    top: calc(50% - 1px);
                    right: calc(50% - 6px);
                    border-radius: 50px;
                }

                &::after {
                    content: '';
                    width: 13px;
                    height: 2px;
                    position: absolute;
                    background-color: var(--gray-color);
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                    right: calc(50% - 6px);
                    border-radius: 50px;
                }
            }
        }

    }

    &-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__title {
                font-weight: 600;
                font-size: 22px;
                line-height: 27px;
                color: var(--black-color);
                text-align: center;
                margin-top: 20px;
            }

            &__descr {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: var(--gray-color);
                text-align: center;
                margin-top: 10px;
            }

            &__btn {
                background-color: var(--green-color);
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: var(--light-color);
                height: 55px;
                padding: 0 30px;
                border-radius: 18px;
                display: flex;
                align-items: center;
                transition: .3s;
                margin-top: 40px;

                img {
                    margin-right: 12px;
                    transition: .3s;
                    position: relative;

                }

                &:hover {
                    background: lighten(#9DD458, 5%);

                    img {
                        transform: translateX(-10px);
                    }
                }

                &:active {
                    background: darken(#9DD458, 10%);
                }
            }
        }
    }

}