.burger {
    width: 28px;
    height: 28px;
    position: relative;
    background-color: transparent;
    overflow: hidden;

    @media (min-width: (685px)) {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: var(--gray-color);
        transition: 0.3s;
        left: calc(50% - 12px);
        bottom: 4px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: var(--gray-color);
        transition: 0.3s;
        left: calc(50% - 12px);
        top: 4px;

    }

    &-line {
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: var(--gray-color);
        transition: 0.3s;
        left: calc(50% - 12px);
        top: calc(50% - 1px);
    }

    &-content {
        position: absolute;
        top: calc(50%);
    }
}