.orders-section {
    &__item {
        display: flex;

        @media (max-width: (685px)) {
            flex-direction: column;
        }
    }

    &-info {
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: (685px)) {
            padding: 25px 0;
        }
    }

    &__name {
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        color: var(--black-color);
    }

    &__price {
        margin-top: 25px;
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        color: var(--black-color);

        @media (max-width: (685px)) {
            margin-top: 15px;
        }

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: var(--black-color);
            margin-left: 8px;
            margin-right: 4px;
        }
    }

    &__img {
        max-width: 133px;
        max-height: 112px;
    }
}