@mixin big-mobile {
    @media (max-width: (685px)) {
      @content;
    }
}
  
@mixin mobile {
      @media (max-width: (545px)) {
        @content;
      }
}
  
@mixin s-mobile {
      @media (max-width: (365px)) {
        @content;
      }
}

.orders-section{
    &__item{
        display: flex; 
        @include big-mobile{
            flex-direction: column;
        }
    }
    &-info{
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        @include big-mobile{
            padding: 25px 0;
        }
    }
    &__name{
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        color: var(--black-color);
    }
    &__price{
        margin-top: 25px;
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        color: var(--black-color);
        @include big-mobile{
            margin-top: 15px;
        }
        span{
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: var(--black-color);
            margin-left: 8px;
            margin-right: 4px;
        }
    }
    &__img{
        max-width: 133px;
        max-height: 112px;
    }
}

