.product{
    padding: 40px 60px;
    &-title{
        color: black;
    }
    &-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
    &-error{
        overflow: hidden;
    }
}